/*
@author avarozdev <http://nezosgames.com>
github: https://github.com/tomasfjm/STEAM-KEYS-VALIDATOR
*/
body {
  overflow-x: hidden;
  min-width: 357px;
  background: #00262d;
  color: #b8c7ce;
  font-family: 'arial', Georgia, Serif;
}

a {
  text-decoration: none;
  color: #fff;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #00262d;
}

::-webkit-scrollbar-thumb {
  background-color: #02ffc4;
  border-radius: 10px;
}

.contenedor {
  margin: 0 auto;
  width: 95%;
}

#title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
h1 {
  color: #ffffff;
  margin-left: .5rem;
  font-size: 2rem;
}
h1>span {
  background-color: #02ffc4;
  border-radius: .5rem;
  padding: .2rem;
  font-size: 1rem;
  color: #00262d;
}

.accordion {
  background: #00262d;
  border: 1px solid #02ffc4;
  border-left: 3px solid #02ffc4;
  color: #02ffc4;
  border-radius: .55rem .55rem 0 0;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #02ffc4;
  border-left: 5px solid #02ffc4;
  color: #00262d;
}

.panel {
  display: none;
  overflow: hidden;
}

#wrapper {
  width: 100%;
  background-color: #3d5058;
  display: flex;
  border: 1px solid #3d5058;
}

.decoconten {
  padding: 5px;
}

.table1 {
  flex: 1;
  background-color: #2e383e;
  text-align: center;
  border-right: 1px solid #3d5058;
}

.table2 {
  flex: 2;
  background-color: #212b30;
  text-align: center;
}

.table3 {
  flex: 3;
  background-color: #212b30;
  text-align: center;
}

.boton {
  box-shadow: rgba(0, 0, 0, .12) 0 3px 13px 1px;
  color: #02ffc4;
  padding: 1em 1.5em;
  border: 1px solid #00fac5;
  background: #00262d;
  border-radius: .5rem;
  width: 80%;
}

.boton:hover {
  color: #00262d;
  border: 1px solid #00262d;
  background: #02ffc4;
}

.boton {
  text-decoration: none;
  display: inline-block;
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: 500;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.boton:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.form-control {
  display: block;
  resize: vertical;
  width: 100%;
  min-height: 100px;
  /* margin-top: 10px; */
  margin-bottom: 10px;
  padding: .375rem .75rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #00fac5;
  background-color: #00262d;
  background-clip: padding-box;
  border: 1px solid #00fac5;
  border-radius: 0 0 .55rem .55rem;
  transition: all 0.3s ease-in-out;
  outline: none;
}
.form-control::placeholder {
  color: #00fac5;
}
.form-control:focus {
  border: 1px solid #ffffff;
  color: #ffffff;
}

#message {
  font-size: 1rem;
  text-align: center;
  border-radius: .55rem;
  border: 1px solid #ffffff;
  padding: 10px;
  margin-bottom: 10px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, .90);
  color: #00262d!important;
  text-align: center;
}